html {
    direction: rtl;
}

body {
    font-family: 'yekan';
    height: 100vh;
    background-color: rgba(34, 67, 74, 0.9);
    overflow: hidden;
}

input {
    text-align: center;
    color: #fff;
}

body > div {
    display: none;
}

.centered {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}

.centered:not(.no-margin) {
    margin-top: 20px;
}

.btn-flat {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.32);
}

.btn-flat:hover {
    color: white;
}

.preloader-wrapper {
    direction: ltr;
}

#name-container {
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    position: fixed;
}

#name {
    color: aqua;
    margin-right: 3px;
    font-size: 17px;
}

#hello {
    opacity: 0.5;
}