body {
    font-family: 'yekan';
    height: 100vh;
    background-color: rgba(34, 67, 74, 0.9);
}

input {
    text-align: center;
    color: #fff;
}

body > div {
    display: none;
}

.centered {
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0, -50%);
}

.btn-flat {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.32);
}

.btn-flat:hover {
    color: white;
}