.input-field {
    margin-top: 0;
}

.input-field label {
    left: 50%;
    color: #C3BEBE;
    transform: translate(-50%, 0);
}

.input-field label.active {
    transform: translate(-50%, -140%);
}