body {
    font-family: 'yekan';
    height: 100vh;
    background-color: rgba(34, 67, 74, 0.9);
}

input {
    text-align: center;
    color: #fff;
}

.container {
    text-align: center;
    top: 50%;
    position: relative;
    transform: translate(0, -50%);
}

.input-field {
    margin-top: 0;
}

.input-field label {
    left: 50%;
    color: #C3BEBE;
    transform: translate(-50%, 0);
}

.input-field label.active {
    transform: translate(-50%, -140%);
}