#menu {
    text-align: right;
}

body {
    overflow: hidden;
}

#menu li.disabled .collapsible-body {
    display: none !important;
}

.collapsible-header {
    background-color: transparent;
    border-bottom: none;
    color: rgba(255, 255, 255, 0.41);
    transition: all ease 0.5s;
}

.collapsible-header:hover,  li.active .collapsible-header {
    color: rgb(255, 255, 255);
    background-color: black;
}

.collapsible.popout > li {
    box-shadow: none;
}

.collapsible-body {
    border-bottom: none;
}

.collapsible-body p {
    font-size: 13px;
    text-align: center;
    padding: 1.5rem 0 1rem 0;
}

#return {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
}