<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"/>
	<link type="text/css" rel="stylesheet" href="../css/material.icons.css"/>
    <link type="text/css" rel="stylesheet" href="../css/font.css"/>
    <link type="text/css" rel="stylesheet" href="../css/login.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div class="container">
    <form action="/" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s10 offset-s1">
                <input id="student_number" type="text">
                <label for="student_number">شماره دانشجویی</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s10 offset-s1">
                <input id="password" type="password">
                <label for="password">رمز عبور</label>
            </div>
        </div>
        <div class="row">
            <a class="waves-effect waves-light btn" id="login">ورود</a>
        </div>
    </form>
</div>
<script type="text/javascript" src="../js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script type="text/javascript" src="../js/login.js"></script>
</body>
</html>