<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"/>
    <link type="text/css" rel="stylesheet" href="../css/material.icons.css"/>
    <link type="text/css" rel="stylesheet" href="../css/font.css"/>
    <link type="text/css" rel="stylesheet" href="../css/general.css"/>
    <link type="text/css" rel="stylesheet" href="../css/header.css"/>
    <link type="text/css" rel="stylesheet" href="../css/menu.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header>
    <img src="../img/close.png" id="close-btn" alt="close button"/>
    <img src="../img/close-hover.png" id="close-btn-hover" alt="close button hover"/>
    <img src="../img/minimize.png" id="minimize-btn" alt="minimize button"/>
    <img src="../img/minimize-hover.png" id="minimize-btn-hover" alt="minimize button hover"/>
</header>
<div id="name-container"><span id="hello">سلام </span><span id="name">مهران</span></div>
<div class="centered">
    <ul id="menu" class="collapsible popout" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                <i class="material-icons">filter_drama</i>تنظیمات
            </div>
            <div class="collapsible-body">
                <p>در این قسمت می توانید تنظیمات مختلف مانند </p>
                <a class="waves-effect waves-teal btn-flat" id="settings">ورود به بخش تنظیمات</a>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">trending_up</i>اولویت ها
            </div>
            <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
                <a class="waves-effect waves-teal btn-flat" id="priorities">ورود به بخش اولویت ها</a>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">today</i>رزروها
            </div>
            <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
                <a class="waves-effect waves-teal btn-flat" id="reserves">ورود به بخش رزروها</a>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <i class="material-icons">schedule</i>روزفروش
            </div>
            <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
                <a class="waves-effect waves-teal btn-flat" id="daily-buy">ورود به بخش روزفروش</a>
            </div>
        </li>
        <li class="disabled">
            <div class="collapsible-header">
                <i class="material-icons">power_settings_new</i>خروج
            </div>
            <div class="collapsible-body">
                <p>Lorem ipsum dolor sit amet.</p>
                <a class="waves-effect waves-teal btn-flat" id="exit"></a>
            </div>
        </li>
    </ul>
    </div>
</div>
<script type="text/javascript" src="../js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script type="text/javascript" src="../js/header.js"></script>
</body>
</html>