<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"/>
    <link type="text/css" rel="stylesheet" href="../css/material.icons.css"/>
    <link type="text/css" rel="stylesheet" href="../css/font.css"/>
    <link type="text/css" rel="stylesheet" href="../css/general.css"/>
    <link type="text/css" rel="stylesheet" href="../css/header.css"/>
    <link type="text/css" rel="stylesheet" href="../css/simple.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<header>
    <img src="../img/close.png" id="close-btn" alt="close button"/>
    <img src="../img/close-hover.png" id="close-btn-hover" alt="close button hover"/>
    <img src="../img/minimize.png" id="minimize-btn" alt="minimize button"/>
    <img src="../img/minimize-hover.png" id="minimize-btn-hover" alt="minimize button hover"/>
</header>
<div id="name-container">
    <span id="hello">سلام </span>
    <span id="name"><script>document.write(GetFirstName());</script></span>
</div>
<div class="row centered">
    <div id="now-reserve">
        <a class="col s10 waves-effect waves-teal btn">همین الان رزرو کن!</a>
    </div>
    <div id="reserve-done">
        <a class="col s8 waves-effect waves-teal btn">خودم هفته بعد رو رزرو کردم!</a>
    </div>
    <div id="go-to-main">
        <a class="col s6 waves-effect waves-teal btn">نسخه بعدی</a>
    </div>
    <div id="exit">
        <a class="col s4 waves-effect waves-light btn">خروج</a>
    </div>
</div>
<script type="text/javascript" src="../js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
<script type="text/javascript" src="../js/header.js"></script>
<script type="text/javascript" src="../js/startingFade.js"></script>
<script type="text/javascript" src="../js/simple.js"></script>
</body>
</html>